.topnav {
  background-color: #000000;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
    background-color: #6B6E70;
    color: black;
}

.topnav a.active {
  background-color: #45A29E;
  color: white;
}

.topnav li {
  display: inline;
}
