html, body { height: 100% }

body
{
  background-color: #505866;
}

.container-fluid
{
  min-height: 100%;
  overflow: hidden;
}

.content
{
  background-color: #858c99;
  /* margin-bottom: -100%; */
  padding-bottom: 100%;
}
